@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0C;
  --foreground: #F4F4F5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0A0A0C;
}
::-webkit-scrollbar-thumb {
  background: #121216;
  border-radius: 10px;
  border: 2px solid #0A0A0C;
}
::-webkit-scrollbar-thumb:hover {
  background: #1A1A20;
}
